@model IEnumerable<Qualification>

@{
    ViewBag.Title = "All Qualifications";
}
<h1>
    Create Qualifications
</h1>

    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateQualification"
       asp-controller="qualification">Add new Qualification</a>
 
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}
