@model IEnumerable<Course>

@{
    ViewBag.Title = "All Courses";
}
<h1>
    All Courses
</h1>
@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateCourse"
       asp-controller="administration">Add new course</a>
    foreach (var course in Model)
    {
<div class="card mb-3">
    <div class="card-header">
        @course.Name
    </div>
    <div class="card-footer">
        <form>
            <a asp-action="EditCourses" asp-controller="Administration"
               asp-route-uid="@course.Uid" class="btn btn-primary">Edit</a>
            
                <a asp-action="DeleteCourse" asp-controller="Administration"
                   asp-route-uid="@course.Uid" class="btn btn-danger">Delete</a>
                <a asp-action="DetailsCourse" asp-controller="Administration"
                    class="btn btn-primary">Details</a>
        </form>
    </div>

</div>  
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No course created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a course
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="administration" asp-action="CreateCourse">
                Create Course
            </a>
        </div>
    </div>
}
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}