@model CourseViewModel
@{
    ViewData["Title"] = "List of Courses";
}
<h1>@ViewData["Title"]</h1>

<p>
    All Courses
</p>
<a asp-action="CreateCourse" asp-controller="Administration"
   class="btn btn-primary mb-3" style="width:auto">
    Add new course
</a>