@model LicenseViewModel
@{
    ViewData["Title"] = "List of Licenses";
}
<h1>@ViewData["Title"]</h1>

<p>
    All Licenses
</p>
<a asp-action="CreateLicense" asp-controller="Administration"
   class="btn btn-primary mb-3" style="width:auto">
    Add new course
</a>